@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f0f4f8;
    font-family: Raleway;
}
.top-container{
    width: 100%;
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
}

.top-container .youtube-icon {
    margin-top: 18px;
    margin-left: 70px ;
}
.top-container h3 {
    padding: 22px 5px;
}
.search-bar{
    margin-top: 2px ;
    margin-left: 160px;
    width: 700px;
    /* background-color: bisque; */
    padding: 8px;
    display: flex;
}
.search-txt{
    width: 550px;
    height: 40px;
    border: solid 1px green;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 12px;
}
.search-icon{
    width: 60px;
    height: 40px;
    background-color: rgb(223, 218, 228);
    padding-top: 7px;
    padding-left: 15px;
   
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid green;
}
.mic-icon{
    background-color: aliceblue;
    border-radius: 20px;
    margin-left: 9px;
    height: 40px;
}
.mic{
    width: 40px;
    height: 40px;
   
}
.video-camera{
    width: 30px;
    height: 30px;
    margin-top: 16px;
    margin-left: 140px;
}
.bell{
    width: 30px;
    height: 30px;
    margin-top: 16px;
    margin-left: 20px;
}
    

.middle-container{
    width: 100%;
    height: 82vh;
    /* background-color: brown; */
    display: flex;
}

.right-container{
    width : 66%;
    height: 82vh;
    /* background-color: rgb(213, 236, 3); */
}
.video-back{
    margin-left: 20px;
    height: 100%;
    width: 880px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 18px;
    
}
.video-box{
   
   border-radius: 10px;
   overflow: hidden;
    width: 96%;
    height: 87.6%;
    /* background-color: blue; */
    margin-left:  18px;
}
video:focus{
    outline: none;
}
.video1{
    margin: 5px;
    width: 100%;
    height: 160px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding:3% 2% ;
    display: flex;
    border: solid 1px rgb(20, 74, 190);
}

.video1 video{
    width: 220px;
    height: 125px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid green;
    
} 
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background: antiquewhite;
    border-radius: 6px;
}
.video1 h4{
    padding: 10PX 10px;
}

.left-container{
    width : 34%;
    height: 82vh;
    /* background-color: rgb(7, 190, 77); */
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    padding-right: 10px;
}
.left-container :hover{
    background-color: rgb(75, 137, 156);
    /* transform: translate(5px); */
    transition-duration: .2s;
}

.bottom-container{
    width: 100%;
    height: 8vh;
    /* background-color: aqua; */
}